{% extends "base.html" %}

<!-- HEAD -->
{% block title %}Buzzer - Login{% endblock %}
{% load static %}
{% block stylesheets %} <link rel="stylesheet" type="text/css" href="{% static "stylesheets/login.css" %}?version=2	"> {% endblock %}


<!-- BODY -->
{% block content %}

<!-- NAVBAR -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img id="buzzer-logo" src="{% static "images/buzzer_logo.png" %}"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./">Login</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- LOGIN FORM -->
<div id="login-container">
	<h3>Inicia sesión en Buzzer</h3>
	<br>
    <form action="." method="POST">
  		<div class="form-group row">
    		<label for="username" class="col-sm-3 col-form-label">Nombre de usuario:</label>
    		<div class="col-sm-6">
      			<input type="text" class="form-control" name="username" placeholder="Nombre de usuario" required>
    		</div>
  		</div>
  		
  		<div class="form-group row">
    		<label for="password" class="col-sm-3 col-form-label">Contraseña:</label>
    		<div class="col-sm-6">
      			<input type="password" class="form-control" name="password" placeholder="Contraseña" required>     
    		</div>    	
		</div>	
		<div class="form-group row btn-row">   
      		<button type="submit" class="btn btn-warning">Entrar</button>
		</div>
		<br>		
	</form>
	<p>¿Nuevo en Buzzer? <a href="../signup">Regístrate ahora >>></a></p>		
</div>

{% endblock %}