{% extends "base.html" %}

<!-- HEAD -->
{% block title %}Buzzer - Login{% endblock %}
{% load static %}
{% block stylesheets %} <link rel="stylesheet" type="text/css" href="{% static "stylesheets/login.css" %}"> {% endblock %}


<!-- BODY -->
{% block content %}

<!-- LOGIN FORM -->
<div id="login-container">

    <h3>Inicia sesión en Buzzer</h3>
    <br>

    <form action="." method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="username" class="col-sm-3 col-form-label">Nombre de usuario:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="username" placeholder="Nombre de usuario" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label">Contraseña:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
            </div>
        </div>

        <div class="form-group row btn-row">
            <button type="submit" class="btn btn-warning">Entrar</button>
        </div>
        <br>
    </form>

    <p>¿Nuevo en Buzzer? <a href="../signup">Regístrate ahora >>></a></p>

</div>

{% endblock %}