{% extends "base.html" %}
<!-- HEAD -->
{% block title %}Buzzer - {{user.username}}{% endblock %}
{% load hashtags %}
{% load static %}
{% block stylesheets %} <link rel="stylesheet" type="text/css" href="{% static "stylesheets/profile.css" %}	"> {% endblock %}


<!-- BODY -->
{% block content %}
<div class="container">

    <!-- PROFILE INFO -->
    <div class="profile-container">
        <div class="basic-info">
            <a href="{% url 'profile' user=profile.username %}"></a>
            <a href="{% url 'load_image' %}">
                <img class="pfp" src="{{ profile.profile.image.url}}"></a>

            <div class="names">
                <a href="{% url 'profile' user=profile.username %}"><h4 class="username">{{profile.profile.screen_name}}</h4></a>
                <h5 class="usertag">@{{profile.username}}</h5>
            </div>
        </div>
        <br>

        <!--Bio-->
        {% if profile.profile.bio %}
            <div class="bio">
                <p>{{profile.profile.bio}}</p>
            </div>
            <br>
        {% endif %}

        <!--Url-->
        {% if profile.profile.url %}
            <div class="url">
                <i class="fas fa-link"></i>
                <a href="http://{{profile.profile.url}}">{{profile.profile.url}}</a>
            </div>
            <br>
        {% endif %}

        <!--location-->
        {% if profile.profile.location %}
            <div class="gps">
                <i class="fas fa-map-marker-alt"></i>
                <p>{{profile.profile.location}}</p>
            </div>
            <br>
        {% endif %}

        <!--birthday-->
        {% if profile.profile.birthday %}
            <div class="birthday">
                <i class="fas fa-birthday-cake"></i>
                <p>Fecha de nacimiento: {{profile.profile.birthday}}</p>
            </div>
            <br>
        {% endif %}


        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
            Editar Perfil
        </button>

    </div>

    <!-- BUZZES -->
    <div class="buzz-container">
        <h3>Buzzs de <span>{{ profile.profile.screen_name }}</span></h3>

        {% for buzz in posts %}
            <div class="buzz">
                <div class="basic-info">
                    <a href="{% url 'load_image' %}">
                        <img class="pfp" src="{{ profile.profile.image.url}}"></a>
                    <div class="names">
                        <a href="{% url 'profile' user=buzz.user.username %}"><h4 class="username">{{buzz.user.profile.screen_name}}</h4></a>
                        <h5 class="usertag">@{{buzz.user.username}}</h5>
                    </div>
                </div>
                <br>

                {% for x in buzz.text|lista_hash %}
                    {% if x.0 == "#"  %}
                        <a href="{% url 'hashtags' x %}">{{ x }}</a>
                    {% else %}
                        {{ x }}
                    {% endif %}
                {% endfor %}
                <br>

                <!-- Multimedia de un buzz -->
                {% if buzz.file_type == 'image' %}
                    <img src="{{buzz.file.url}}" class="multimedia">
                {% elif buzz.file_type == 'video' %}
                    <video width="320" height="240" controls class="multimedia">
                        <source src="{{buzz.file.url}}">
                    </video>
                {% elif buzz.file_type == 'audio' %}
                    <audio controls preload="auto" autobuffer>
                    <source src="{{buzz.file.url}}" type="audio/mpeg">
                        Error con el audio
                    </audio>
                {% endif %}

                <div class="buzz-date">{{ buzz.created_at }} </div>

            </div>
        {% endfor %}

    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle" >Editar profile</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'actualizarProfile' user=user.username %}" method="POST" class="post-form" >
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form2.as_p }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}
  <script type="text/javascript" src="{% static "scripts/profile.js" %}"></script>
{% endblock %}