{% extends "base.html" %}

<!-- HEAD -->
{% block title %}Buzzer - Signup page{% endblock %}
{% load static %}
{% block stylesheets %} <link rel="stylesheet" type="text/css" href="{% static "stylesheets/search.css" %}?version=2	"> {% endblock %}


<!-- BODY -->
{% block content %}

<div class="panel panel-default" id="search_var">
    <div id="search_text">
        {% if not search_text  %}
            <h3>SEARCH: --</h3>
        {% else %}
            <h3>SEARCH: {{ search_text }}</h3>
        {% endif %}
    </div>
</div>

<ul class="nav nav-tabs" id="search_nav">
    <li class="active"><a onclick="changeBlockView('buzzs-button')" data-toggle="tab" id="buzzs-button">BUZZERS</a></li>
    <li><a onclick="changeBlockView('users-button')" data-toggle="tab" id="users-button">USERS</a></li>
</ul>
<div id="last_tab"></div>

<div class="buzz-container" id="buzzers-container">
    {% if not buzzs %}
        <h3>No results in buzzs for:<br>  -->{{ search_text }}</h3>
    {% else %}
        {% for buzz in buzzs %}
            <div class="buzz">
                <div class="basic-info">
                    <a href="{% url 'profile' user=buzz.user.username %}">
                        <img class="pfp" src="{% static "images/buzzer_logo.png" %}"></a>
                    <div class="names">
                        <a href="{% url 'profile' user=buzz.user.username %}"><h4 class="username">{{buzz.user.profile.screen_name}}</h4></a>
                        <h5 class="usertag">@{{buzz.user.username}}</h5>
                    </div>
                </div>
                <br>
                {{ buzz.text }}
                <br>
                <div class="buzz-date">{{ buzz.created_at }} </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="buzz-container" id="users-container" style="display: none" >
    {% if not users %}
        <h3>No results in users for:<br>  -->{{ search_text }}</h3>
    {% else %}
        {% for profile in users %}
            <div class="buzz">
                <div class="basic-info">
                    <a href="{% url 'profile' user=profile.user.username %}">
                        <img class="pfp" src="{% static "images/buzzer_logo.png" %}"></a>
                    <div class="names">
                        <a href="{% url 'profile' user=profile.user.username %}"><h4 class="username">{{ profile.user.first_name}} {{ profile.user.last_name }}</h4></a>
                        <h5 class="usertag">@{{profile.user.username}}</h5>
                    </div>
                </div>
                <br>
                {% if profile.bio %}
                    {{ profile.bio }}
                    <br>
                {% endif %}

                {% if profile.url %}
                    {{ profile.url }}
                    <br>
                {% endif %}

                {% if profile.birthday %}
                    {{ profile.birthday }}
                    <br>
                {% endif %}

                {% if profile.location %}
                    {{ profile.location }}
                    <br>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

</div>

{% endblock %}

{% block moreJavascript %}
<script type="text/javascript">

    function changeBlockView($id) {

        if ($id === "buzzs-button") {

            document.getElementById("buzzers-container").style.display = "inline-block";
            document.getElementById("users-container").style.display = "none";

        }
        else if ($id === "users-button") {

            document.getElementById("buzzers-container").style.display = "none";
            document.getElementById("users-container").style.display = "inline-block";

        }

    }
</script>
{% endblock %}

