{% extends "base.html" %}

<!-- HEAD -->
{% block title %}Buzzer - Test login{% endblock %}
{% load static %}
{% block stylesheets %} <link rel="stylesheet" type="text/css" href="{% static "stylesheets/login.css" %}"> {% endblock %}


<!-- BODY -->
{% block content %}

<div id="login-container">
  {% if user.is_authenticated %}
    <h3>Hola {{ user.username }}! </h3>
  {% else %}
    <h3> Hola desconocido! </h3>
  {% endif %}
  <form action="{% url 'search' %}" method="post">
    {% csrf_token %}
    Search Text<br>
    <input type="text" name="search_text" value="Mickey">
    <br><br>
    <input type="submit" value="Submit">
  </form>
		
</div>
{% endblock %}