body {
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;    
}

/* ***** PROFILE CONTAINER ********** */

.profile-container {
    display: flex;
    flex-direction: column;
    align-self: baseline;

    background-color: #efb153;
    border: 2px solid black;
    border-radius: 10px;

    margin-left: 30px;
    margin-right: 30px;

    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;

    min-width: 300px;
}

.profile-container .pfp {
    height: 50px;
    width: 50px;
    float: left;

    margin-right: 10px;
    margin-top: 10px;

    border: 1px solid black;
    border-radius: 30px;
}

.profile-container .pfp:hover {
    border: 2px solid black;
}

.profile-container i {
    margin-right: 10px;
    float: left;
}

.profile-container .bio {
    text-align: justify;
}

.profile-container h4:hover {
    font-weight: bold;
}

.profile-container a:link, .profile-container a:visited {
    color: black;
    text-decoration: none;
}


/***  BUZZ CONTAINER ***/

.buzz-container {
    display: flex;
    flex-direction: column;

    min-width: 800px;
    min-height: 325px;
    border: 4px solid #ccc;    

    background-color: #fffcc9;

    padding-left: 50px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    margin-left: 20px;
    margin-bottom: 40px;

    flex-grow: 2;
}

.buzz-container .form-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 20px;
    background-color: #edbc40;
}

.buzz-container .form-container #id_text {
    min-width: 100%;
    min-height: 100px;
    vertical-align: text-top;
}

.buzz {
    border: 1px solid black;
    margin-top: 10px;

    padding: 10px;
}

.buzz-container h3 span {
    font-weight: bold;
}

.buzz-container .pfp {
    height: 50px;
    width: 50px;
    float: left;

    margin-right: 10px;
    margin-top: 10px;

    border: 1px solid black;
    border-radius: 30px;
}

.buzz-container .pfp:hover {
    border: 2px solid black;
}

.buzz-container .buzz-date {
    font-style: italic;
    text-align: right;
}

/****** MULTIMEDIA ******/
.multimedia {
    height: 50%;
    width: 50%;

    margin-top: 10px;
    margin-bottom: 10px;

    max-height: 800px;
}

.multimedia.big {
    height: 100%;
    width: 100%
}

audio {
    margin-top: 10px;
    margin-bottom: 10px;
}