body {
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}


#login-container {
	position: absolute;
    top: 50%;
    left: 50%;

    width: 40%;
    min-width: 500px;
    /*height: 400px;*/
    margin-left: -20%;
    margin-top: -15%;
    border: 4px solid #ccc;

    background-color: #fffcc9;

    padding-left: 50px;
    padding-top: 15px;
}

#login-container h3 {
	font-weight: bold;
}

#login-container .btn-row{
	padding-left: 1em;
}